/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        e_yo_modmorph: e_yo_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "E_YO_MODMORPH";
            bindings = <&kp T>, <&kp GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        wsl_holdtap: wsl_holdtap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&win_switch_language>;

            label = "WSL_HOLDTAP";
        };
    };

    macros {
        win_switch_language: win_switch_language {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp LEFT_SHIFT>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "WIN_SWITCH_LANGUAGE";
        };

        mac_switch_language: mac_switch_language {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_COMMAND>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LEFT_COMMAND>;

            label = "MAC_SWITCH_LANGUAGE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        win_layer {
            bindings = <
&kp ESC               &kp N1           &kp N2           &kp N3             &kp N4        &kp N5                                &kp N6     &kp N7                &kp N8              &kp N9            &kp N0               &kp BACKSPACE
&kp TAB               &kp Q            &kp W            &kp E              &kp R         &e_yo_modmorph                        &kp Y      &kp U                 &kp I               &kp O             &kp P                &kp MINUS
&kp LEFT_SHIFT        &hrm LEFT_WIN A  &hrm LEFT_ALT S  &hrm LEFT_SHIFT D  &hrm LCTRL F  &kp G                                 &kp H      &hrm RIGHT_CONTROL J  &hrm RIGHT_SHIFT K  &hrm RIGHT_ALT L  &hrm RIGHT_GUI SEMI  &kp SQT
&win_switch_language  &kp Z            &kp X            &kp C              &kp V         &kp B           &kp LBKT    &kp RBKT  &kp N      &kp M                 &kp COMMA           &kp DOT           &kp FSLH             &kp BACKSLASH
                                                        &none              &kp DELETE    &kp SPACE       &mo 2       &mo 4     &kp ENTER  &kp BACKSPACE         &none
            >;
        };

        mac_layer {
            bindings = <
&trans                &trans        &trans           &trans             &trans               &trans                    &trans  &trans                &trans              &trans            &trans                   &trans
&trans                &trans        &trans           &trans             &trans               &trans                    &trans  &trans                &trans              &trans            &trans                   &trans
&trans                &hrm LCTRL A  &hrm LEFT_ALT S  &hrm LEFT_SHIFT D  &hrm LEFT_COMMAND F  &trans                    &trans  &hrm RIGHT_COMMAND J  &hrm RIGHT_SHIFT K  &hrm RIGHT_ALT L  &hrm RIGHT_CONTROL SEMI  &trans
&mac_switch_language  &trans        &trans           &trans             &trans               &trans  &trans    &trans  &trans  &trans                &trans              &trans            &trans                   &trans
                                                     &trans             &trans               &mo 3   &trans    &trans  &mo 4   &trans                &trans
            >;
        };

        win_lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&kp F1       &kp F2              &kp F3          &kp F4        &kp F5               &kp F6                              &kp F7  &kp F8           &kp F9                       &kp F10          &kp F11          &kp F12
&kp LS(TAB)  &kp LC(LEFT_ARROW)  &kp HOME        &kp END       &kp LC(RIGHT_ARROW)  &kp LG(LS(S))                       &none   &kp KP_NUMBER_7  &kp KP_NUMBER_8              &kp KP_NUMBER_9  &kp KP_DIVIDE    &kp KP_ASTERISK
&trans       &kp LEFT_ARROW      &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW      &none                               &none   &kp KP_NUMBER_4  &hrm LEFT_SHIFT KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_SUBTRACT  &kp KP_PLUS
&trans       &kp LC(Z)           &kp LC(X)       &kp LC(C)     &kp LC(V)            &kp LC(B)      &kp LG(L)    &none   &none   &kp KP_NUMBER_1  &kp KP_NUMBER_2              &kp KP_NUMBER_3  &none            &kp KP_DOT
                                                 &trans        &trans               &trans         &trans       &trans  &trans  &trans           &kp KP_NUMBER_0
            >;
        };

        mac_lower_layer {
            bindings = <
&kp F1       &kp F2              &kp F3          &kp F4        &kp F5               &kp F6                                         &kp F7  &kp F8           &kp F9                       &kp F10          &kp F11          &kp F12
&kp LS(TAB)  &kp LA(LEFT_ARROW)  &kp HOME        &kp END       &kp LA(RIGHT_ARROW)  &kp LG(LS(NUMBER_4))                           &none   &kp KP_NUMBER_7  &kp KP_NUMBER_8              &kp KP_NUMBER_9  &kp KP_DIVIDE    &kp KP_ASTERISK
&trans       &kp LEFT_ARROW      &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW      &none                                          &none   &kp KP_NUMBER_4  &hrm LEFT_SHIFT KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_SUBTRACT  &kp KP_PLUS
&trans       &kp LG(Z)           &kp LG(X)       &kp LG(C)     &kp LG(V)            &kp LG(B)             &kp LC(LG(Q))    &none   &none   &kp KP_NUMBER_1  &kp KP_NUMBER_2              &kp KP_NUMBER_3  &none            &kp KP_DOT
                                                 &trans        &trans               &trans                &trans           &trans  &trans  &trans           &kp KP_NUMBER_0
            >;
        };

        raise_layer {
            bindings = <
&kp GRAVE  &none            &none        &none     &none       &none                                           &none      &none          &none            &none                 &none                  &kp PLUS
&kp TILDE  &none            &none        &none     &none       &none                                           &none      &none          &none            &none                 &none                  &kp UNDER
&trans     &kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT                                     &kp CARET  &kp AMPERSAND  &kp KP_ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DOUBLE_QUOTES
&trans     &none            &none        &none     &none       &none        &kp LEFT_BRACE    &kp RIGHT_BRACE  &none      &none          &kp LESS_THAN    &kp GREATER_THAN      &kp QUESTION           &kp PIPE
                                         &trans    &trans      &trans       &trans            &trans           &trans     &trans         &trans
            >;
        };

        control_layer {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &none   &none   &none   &none  &none  &bt BT_CLR
&none  &to 6         &none         &none         &none         &none                           &none   &none   &none   &none  &none  &bt BT_CLR_ALL
&none  &none         &none         &none         &none         &none                           &none   &none   &none   &none  &none  &out OUT_BLE
&none  &none         &none         &none         &none         &none         &to 0     &to 1   &none   &none   &none   &none  &none  &out OUT_USB
                                   &trans        &trans        &trans        &trans    &trans  &trans  &trans  &trans
            >;
        };

        gaming_layer {
            bindings = <
&kp ESCAPE        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                      &none  &none  &none  &none  &none  &none
&kp TAB           &kp T         &kp Q         &kp W         &kp E         &kp R                       &none  &none  &none  &none  &none  &none
&kp LEFT_SHIFT    &kp G         &kp A         &kp S         &kp D         &kp F                       &none  &none  &none  &none  &none  &none
&kp LEFT_CONTROL  &kp B         &kp Z         &kp X         &kp C         &kp V   &kp ENTER    &none  &none  &none  &none  &none  &none  &none
                                              &none         &kp LEFT_ALT  &mo 7   &kp SPACE    &none  &none  &none  &none
            >;
        };

        gaming_lower_layer {
            bindings = <
&to 0   &kp NUMBER_6  &kp N7    &kp N8        &kp N9     &kp N0                   &none  &none  &none  &none  &none  &none
&trans  &kp Y         &kp U     &kp UP_ARROW  &kp O      &kp P                    &none  &none  &none  &none  &none  &none
&trans  &kp H         &kp LEFT  &kp DOWN      &kp RIGHT  &kp I                    &none  &none  &none  &none  &none  &none
&trans  &kp N         &kp M     &kp J         &kp K      &kp L   &trans    &none  &none  &none  &none  &none  &none  &none
                                &trans        &trans     &trans  &trans    &none  &none  &none  &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        win_control_layer {
            if-layers = <2 4>;
            then-layer = <5>;
        };

        mac_control_layer {
            if-layers = <3 4>;
            then-layer = <5>;
        };
    };
};
